---
import CardPrice from "./CardPrice.astro";
---

<div
  id="pricing"
  class="w-full max-w-6xl mx-auto"
  x-intersect="activeStep = 'spy-3'"
>
  <div class="p-6 md:p-10 rounded-2xl bg-muted-200 dark:bg-muted-900">
    <div class="grid md:grid-cols-2 ltablet:grid-cols-3 lg:grid-cols-3 gap-6">
      <!-- Pricing option -->
      <CardPrice
        precio="Área: 10 a 49 metros cuadrados"
        nombre="Plan Basico"
        desc="Transforma tu espacio con nuestro Plan Básico."
        chOne="Recorrido 3D básico incluido."
        chTwo="Entrega de renders de alta calidad."
        chThree="Asesoramiento limitado"
      />
      <CardPrice
        precio="Área: 50 a 99 metros cuadrados"
        nombre="Plan Estandar"
        desc="Eleva tu diseño de interiores al siguiente nivel con nuestro Plan Estándar."
        chOne="Recorrido 3D detallado incluido."
        chTwo="Entrega de renders de alta calidad."
        chThree="Asesoramiento personalizado"
      />
      <CardPrice
        precio="Área: más de 100 metros cuadrados"
        nombre="Plan Premium"
        desc="Experimenta la máxima excelencia con nuestro Plan Premium."
        chOne="Recorrido 3D de alta calidad incluido."
        chTwo="Entrega de renders de alta calidad."
        chThree="Asesoramiento y Ejecución"
      />
    </div>
  </div>
  <div
  class="flex items-center mt-3.5 justify-center p-6 lg:mt-0 h-72 sm:h-80 lg:h-96 xl:h-112 2xl:h-128"
>
  <img
    alt=""
    decoding="async"
    src="src/asset/imgService.png"
    class="object-contain h-72 sm:h-80 lg:h-96 xl:h-112 2xl:h-128 bg-whitesmoke rounded-tr-3xl rounded-br-3xl shadow-white"
  />
</div>
</div>
