<div class="mt-10 mx-auto max-w-6xl px-4 py-6 bg-white rounded-2xl shadow-md">
    <h2 class="text-3xl font-semibold text-center text-cyan-700">Conócenos Más</h2>
    <p class="mt-4 text-lg text-gray-600 text-center">Descubre lo que nos hace únicos y cómo podemos ayudarte a transformar tus espacios.</p>
  </div>
</div>