---
import Nosotros from "./Nosotros.astro";


---

<div class="p-4 sm:ml-64">
    <div class="flex flex-col items-center justify-center h-auto mb-4 rounded container ">

       <Nosotros/>
    </div>
  </div>