---
import { Image } from "astro:assets";

const { logo, titulo, desc } = Astro.props;
---

<div
  class="w-11/12 mx-auto shadow-lg bg-gray-700 shadow-gray-400 rounded hover:bg-gray-600"
>
  <div class="max-w-sm rounded ">
    <a href="#">
      <Image src={logo} alt="logo" />
    </a>
  </div>
  <div class="p-5">
    <a href="#">
      <h5 class="text-white font-medium text-2xl mb-2">{titulo}</h5>
      <p class="font-light text-white mb-3">{desc}</p>
    </a>
  </div>
</div>
