<section class=" container flex flex-col justify-center mx-auto sm:py-12 lg:py-24 lg:flex-row lg:justify-around">
        <div  class="flex items-center justify-center p-6 mt-8 lg:mt-0 h-72 sm:h-80 lg:h-96 xl:h-112 2xl:h-128">
            <img
            alt=""
            decoding="async"
            src="https://i.pinimg.com/564x/fd/9f/8d/fd9f8dfec658cd6352617785a93992b4.jpg"
            class="object-contain h-72 sm:h-80 lg:h-96 xl:h-112 2xl:h-128 bg-whitesmoke rounded-tr-3xl rounded-br-3xl shadow-white"
            />
        </div>
          <div  class="flex flex-col justify-center p-6 text-center rounded-sm lg:max-w-md xl:max-w-lg lg:text-left">
            <h1 class="text-5xl font-bold leadi sm:text-6xl">Los Mejores Diseños</h1>
             <p class="mt-6 mb-8 text-lg sm:mb-12">
                This theme provides plenty of tried and tested Accessible Astro
                Components. Some are native to this theme and a lot of others are
                integrated using a <a
                   href="https://github.com/markteekman/accessible-astro-components"
                   >separate package</a
                   >. They'll get you up and running in building an accessible solution
                for your visitors.
             </p>
          </div>
 </section>