---
import ButtonBold from "../ButtonBold.astro";
import ButtonLigth from "../ButtonLigth.astro";
---

<section
   class="container flex flex-col justify-center  sm:py-12 lg:py-24 lg:flex-row lg:justify-around"
   >
   <div
      class="flex flex-col justify-center text-center lg:max-w-md xl:max-w-lg lg:text-left"
      >
      <h1 class="text-5xl font-bold  sm:text-5xl">
         CONSTRUYENDO SUEÑOS CON PASIÓN
      </h1>
      <p class="mt-6 mb-8 text-lg sm:mb-12">
         En Creavitta somos el hogar de tus
         sueños.
      </p>
      <div
         class="flex flex-col space-y-4 sm:items-center sm:justify-center sm:flex-row sm:space-y-0 sm:space-x-4 lg:justify-start"
         >
         <ButtonBold>Ver Más</ButtonBold>
         <ButtonLigth>Productos</ButtonLigth>
      </div>
   </div>
   <div
      class="flex items-center justify-center p-6 mt-8 lg:h-auto h-72 sm:h-80  xl:h-112 2xl:h-128 rounded-t-full"
      >
      <img
         src="https://ibb.co/YknwLLR"
         alt="Logo Creavitta"
         class="object-contain h-72 sm:h-80 lg:h-fit xl:h-112 2xl:h-128  rounded-t-full rounded-2xl shadow-white "
         />
   </div>
</section>

