---
const color = "#264653"
---


<a
  rel="noopener noreferrer"
  href="#"
  class="px-8 py-3 text-lg font-semibold border rounded border-gray-800 bg-[#01163E] text-white hover:bg-[#01164E] shadow-2xl"
>
<slot/>
</a>
